In [1]:
import pandas as pd
df = pd.read_csv("weight-height.csv")

In [2]:
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [3]:
    df['Gender'].replace('Female',0, inplace=True)
    df['Gender'].replace('Male',1, inplace=True)
    X = df.iloc[:, :-1].values
    y = df.iloc[:, 2].values

In [4]:
df

      Gender     Height      Weight
0          1  73.847017  241.893563
1          1  68.781904  162.310473
2          1  74.110105  212.740856
3          1  71.730978  220.042470
4          1  69.881796  206.349801
...      ...        ...         ...
9995       0  66.172652  136.777454
9996       0  67.067155  170.867906
9997       0  63.867992  128.475319
9998       0  69.034243  163.852461
9999       0  61.944246  113.649103

[10000 rows x 3 columns]

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)
X_test

array([[ 1.        , 73.06329334],
       [ 0.        , 65.19097952],
       [ 1.        , 67.03592902],
       ...,
       [ 0.        , 64.21697248],
       [ 0.        , 62.96969372],
       [ 0.        , 64.1156772 ]])

In [10]:
X_test.size

4000

In [11]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)

LinearRegression()

In [12]:
lin_reg.predict(X_test)

array([211.11715866, 144.64473163, 175.12217674, ..., 138.82803234,
       131.37937418, 138.22310428])

In [13]:
lin_reg.score(X_test,y_test)

0.8992439019982776